@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Crafty+Girls&family=Dancing+Script:wght@400;500;600;700&family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000052;
  background-color: #fbf7f0;
  overflow: visible;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media only screen and (max-width: 112.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 62.37em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 34%;
  }
}

@media only screen and (min-width: 112.51em) {
  html {
    font-size: 75%;
  }
}

.btn__main {
  width: 12rem;
  padding: 1rem 1.4rem;
  outline: none;
  border: none;
  background: #4ca1f5;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2rem;
  position: relative;
  bottom: 0;
  margin-top: 0.4rem;
  cursor: pointer;
  -webkit-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 14px rgba(0, 0, 82, 0.4);
          box-shadow: 6px 6px 14px rgba(0, 0, 82, 0.4);
  border-radius: 14px;
}

.btn__main:hover {
  color: #000052;
  background: #fbf7f0;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 82, 0.6);
          box-shadow: 8px 8px 16px rgba(0, 0, 82, 0.6);
}

.btn__main:active {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
       -o-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 82, 0.4);
          box-shadow: 4px 4px 6px rgba(0, 0, 82, 0.4);
}

.about {
  width: 100%;
  height: auto;
}

.about__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
}

.about__body-text {
  max-width: 50vw;
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.4;
  padding: 6rem;
  max-width: 70%;
  line-height: 1.6;
  font-size: 1.6rem;
}

.about__body-text .about__header {
  text-align: center;
  font-size: 4rem;
  font-family: "Crafty Girls", cursive;
}

.about__body-text .about__par-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.shop__header {
  text-align: center;
}

.about__img {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 3rem 2rem;
  border-radius: 12px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  float: left;
}

.collage {
  height: auto;
  width: 100vw;
  margin-top: 8rem;
}

.collage__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collage__body img {
  width: 65vw;
}

.collage__body-header {
  font-size: 6rem;
  text-align: center;
  margin-top: 2rem;
}

.collage__body-header h1 {
  font-size: 4rem;
  font-family: "Crafty Girls", cursive;
  margin-top: 4rem;
}

.outline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4rem;
}

.outline__text {
  max-width: 50vw;
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.4;
}

.outline .signature {
  font-family: "Dancing Script";
  font-size: 2.6rem;
}

#cards_gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 0;
}

#cards {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0 10rem 0;
}

.cards_container {
  width: 90%;
  max-width: 180rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cards_container svg {
  width: 100%;
  margin-top: 6rem;
}

.card {
  background: white;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 42rem;
  width: 34rem;
  border-radius: 30px;
  padding: 0 2rem;
  z-index: 3;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.card:hover {
  -webkit-transform: scale(1.14);
      -ms-transform: scale(1.14);
       -o-transform: scale(1.14);
          transform: scale(1.14);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.card a {
  color: inherit;
}

.card_circle {
  width: 12rem;
  height: 12rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background: -webkit-linear-gradient(153.36deg, #fcb707 7.59%, rgba(255, 255, 255, 0) 78.11%), -webkit-linear-gradient(top, #38a0ff 0%, rgba(255, 255, 255, 0) 100%), rgba(12, 4, 109, 0.7);
  background: -o-linear-gradient(153.36deg, #fcb707 7.59%, rgba(255, 255, 255, 0) 78.11%), -o-linear-gradient(top, #38a0ff 0%, rgba(255, 255, 255, 0) 100%), rgba(12, 4, 109, 0.7);
  background: linear-gradient(296.64deg, #fcb707 7.59%, rgba(255, 255, 255, 0) 78.11%), linear-gradient(180deg, #38a0ff 0%, rgba(255, 255, 255, 0) 100%), rgba(12, 4, 109, 0.7);
}

.card_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.img_1 {
  width: 11rem;
  z-index: 2;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.img_2 {
  position: relative;
  top: 0.9rem;
  width: 14rem;
  z-index: 2;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.img_3 {
  width: 9rem;
  margin-bottom: -1rem;
  z-index: 2;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card_info {
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card_title {
  font-size: 2.8rem;
  margin-top: 3.6rem;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  line-height: 1.1;
}

.card_text {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  font-weight: 500;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  text-transform: uppercase;
  height: 16.2rem;
}

.card_intouch {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  padding: 0.8rem 0;
  background: #4ca1f5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
  border: 3px solid #4ca1f5;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  outline: none;
}

.card_intouch:hover {
  background: white;
  color: #4ca1f5;
  border: 3px solid #4ca1f5;
  font-weight: 600;
  -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
}

.card_intouch:active {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.shop {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #fbf7f0;
}

.shop__body {
  max-width: 60%;
  margin: auto;
}

.shop__header {
  text-align: center;
  font-size: 4rem;
  font-family: "Crafty Girls", cursive;
  margin-top: 6rem;
}

.shop__body-text h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

.shop__body-text h4 {
  font-size: 2rem;
}

.shop_text {
  font-size: 1.8rem;
}

.shop_offer {
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 3rem;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  height: 36vh;
  background: #000052;
  text-transform: uppercase;
}

.footer a {
  color: white;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer a:hover {
  color: #4ca1f5;
}

.footer__container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__container-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-family: "Crafty Girls", cursive;
  line-height: 1.2;
  letter-spacing: 0.8;
  margin: 3rem;
}

.footer__container-logo .learning {
  font-size: 3rem;
}

.footer__container-logo .miss {
  font-size: 6rem;
}

.footer__container-logo .social {
  font-size: 3rem;
  margin-right: 1rem;
  margin: 3rem;
  padding-right: 3rem;
}

.footer__container-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  padding-left: 3rem;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
  color: white;
  position: relative;
  bottom: -2rem;
}

.copyright .copy {
  font-size: 2.2rem;
  margin-left: 1rem;
}

.navbar {
  width: 100%;
  height: auto;
}

.navbar .navbar__clear {
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background: #fbf7f0;
}

.navbar .navbar__clear .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar__clear .logo .learning {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Crafty Girls", cursive;
}

.navbar .navbar__clear .logo .miss {
  font-family: "Crafty Girls", cursive;
  font-size: 6rem;
  margin-top: -2rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
}

.navbar .navbar__dark {
  top: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  background: #000052;
}

.navbar .navbar__dark .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
}

.navbar .navbar__dark .menu__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 auto;
  color: #fbf7f0;
}

.navbar .navbar__dark .menu__item {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 auto;
  margin: 0 3rem;
}

.navbar .navbar__dark .menu__item a {
  color: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .navbar__dark .menu__item a:hover, .navbar .navbar__dark .menu__item a:active {
  color: #4ca1f5;
}
/*# sourceMappingURL=style.css.map */