@import "../structure/mixins";
@import "../structure/variables";
.about {
  width: 100%;
  height: auto;

  &__body {
    @include flexCenter(row);
    max-width: 80%;
    margin: 0 auto;

    &-text {
      @include paragraph;
      padding: 6rem;
      max-width: 70%;
      line-height: 1.6;
      font-size: 1.6rem;
      .about__header {
        text-align: center;
        font-size: 4rem;
        font-family: $font-extra;
      }
      .about__par-top {
        display: flex;
      }
    }
  }
}
.shop__header {
  text-align: center;
}

.about__img {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 3rem 2rem;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.6);
  float: left;
}
