@import "../structure/mixins";
@import "../structure/variables";
.about {
  width: 100%;
  height: auto;

  &__body {
    @include flexCenter(row);
    max-width: 80%;
    margin: 0 auto;

    &-text {
      @include paragraph;

      padding: 6rem;
      max-width: 80%;
    }

    img {
      border-radius: 8px;
      box-shadow: 8px 8px 12px black;
    }
  }
}
