@import "../structure/mixins";
@import "../structure/variables";
.collage {
  height: auto;
  width: 100%;
  margin-top: 4rem;
  @include flexCenter(row);
  &__body {
    &-header {
      font-size: 6rem;
      text-align: center;
    }
  }
}

// COLLAGE
.collage {
  width: 100%;
  height: auto;

  &__body {
    @include flexCenter(column);

    &-header {
      font-family: $font-extra;
      margin-top: 6rem;
    }

    &-img {
      @include flexCenter(column);
    }
  }
}

// OUTLINE
.outline {
  @include flexCenter(row);
  padding: 4rem;
  &__img {
    margin: 4rem;
    img {
      @include imgAtt;
    }
  }
  &__text {
    @include paragraph;
    margin-left: 3rem;
  }
}
.signature {
  font-family: $font-tertiary;
  font-size: 2.6rem;
}

// CARDS
.cards {
  @include flexCenter(row);
  justify-content: space-evenly;
  width: 100%;
  margin: 8rem 0 12rem 0;

  &__card {
    @include flexCenter(row);
    @include imgAtt;
    height: 30rem;
    width: 24rem;
    background: $color-bg;
    border: 0.1px solid rgba($color: $color-dark, $alpha: 0.2);
    color: $color-black;
    text-align: center;
    font-weight: 700;

    &--header {
      font-size: 2rem;
      text-transform: uppercase;
      padding: 0.2rem 0.8rem 0 0.8rem;
    }
    &--par {
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 0.6rem 0.8rem;
    }
    &--icon {
      width: 70px;
      margin: 1.2rem 1.4rem 0 1.4rem;
    }

    &-card1 {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
          to right top,
          rgba($color-bg, 0.8),
          rgba($color-bg--2, 0.6)
        ),
        url(../../images/card1.jpg);
      @include imgGrad;
    }
    &-card2 {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
          to right top,
          rgba($color-bg, 0.8),
          rgba($color-bg--2, 0.6)
        ),
        url(../../images/card2.jpg);
      @include imgGrad;
    }
    &-card3 {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
          to right top,
          rgba($color-bg, 0.8),
          rgba($color-bg--2, 0.6)
        ),
        url(../../images/card3.jpg);
      @include imgGrad;
    }
  }
}
