// FONTS
$font-primary: "Yusei Magic", sans-serif;
$font-secondary: "Bentham", serif;
$font-tertiary: "Dancing Script";
$font-extra: "Crafty Girls", cursive;

// COLOURS
$color-white: #fbf7f0;
$color-dark: #16110b;
$color-bg: #ddb372;
$color-bg-bright: #dfceb5;
$color-accent: #23223b;
$color-black: #000;

// BORDER RADIUS
$border-pic--s: 4px;
$border-pic--l: 8px;

// BOX-SHADOW
$shadow: 2px 8px 16px rgba($color-dark, 0.6);
$shadow-active: 0px 5px 10px rgba($color-dark, 0.4);
