// FONTS
$font-primary: "Poppins", sans-serif;
$font-secondary: "Bentham", serif;
$font-tertiary: "Dancing Script";
$font-extra: "Crafty Girls", cursive;

// COLOURS
$color-bg: #fbf7f0;
$color-white: white;
$color-dark: #000052;
$accent: #4ca1f5;

// BORDER RADIUS
$border-pic--s: 4px;
$border-pic--l: 8px;

// BOX-SHADOW
$shadow: 2px 8px 16px rgba($color-dark, 0.6);
$shadow-active: 0px 5px 10px rgba($color-dark, 0.4);
